.card {
    margin-top: 1em;
}
.card-img-top, .scale-img {
    max-height: 50vh;
    width: 100%;
    object-fit: contain;
}
.custom-file-input:lang(en) ~ .custom-file-label::after, .custom-file-label::after {
    content: "Kép feltöltése";
}
img.icon {
    height: 2em;
}
.icon {
    width: min-content;
    padding: 1em;
    border-radius: 50%;
}
.fab {
    position: absolute;
    right: 1em;
    bottom: 1em;
}

.credits {
    display: block;
    width: 100%;
    text-align: center;
}

html, body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: column;
    justify-items: center;
    width: 100%;
    height: 100%;
}
#content{
    margin: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 100%;
}