<%- include('header') -%>

<%
if (typeof post === "undefined")
    post = { title: "", text: "", image:"" }
%>

<div class="container-fluid">
    <div class="card bg-secondary text-white">
        <h5 class="card-header">
            <% if (post.title) { %>
                Post szerkesztése
            <% } else { %>
                Post létrehozása
            <% } %>
        </h5>
        <div class="card-body">
            <form method="post" enctype="multipart/form-data">
                <% if (typeof post.id !== "undefined" && post.id) { %>
                    <input style="display: none" name="id" value="<%= post.id %>">
                <% } %>
                <div class="form-group text-white">
                    <label for="title">Post címe</label>
                    <input class="form-control bg-dark text-white" id="title" name="title" value="<%= post.title %>">
                </div>
                <div class="form-group text-white">
                    <label for="text">Szöveg</label>
                    <textarea class="form-control bg-dark text-white" id="text" name="text"><%= post.text -%></textarea>
                </div>
                <div>
                    <% if (post.image) { %>
                        <div class="card bg-dark text-white">
                            <h5 class="card-header">Korábbi kép</h5>
                            <div class="card-body">
                                <img class="scale-img" src="/<%= post.image %>" alt="image for <% post.title %>">
                                <label>
                                    <input type="checkbox" name="deleteImg">
                                    Kép törlése
                                </label>
                            </div>
                        </div>
                        <br>
                    <% } %>
                </div>
                <div class="custom-file form-group text-white bg-dark">
                    <input type="file" class="custom-file-input" id="customFile" name="image">
                    <label class="custom-file-label bg-dark text-white" for="customFile">
                        <% if (post.image) { %>
                            Kép cseréje
                        <% } else { %>
                            Kép csatolása
                        <% } %>
                    </label>
                </div>
                <br>
                <br>
                <button type="submit" class="btn btn-danger">
                    <% if (post.title) { %>
                        Szerkesztés mentése
                    <% } else { %>
                        Posztolás
                    <% } %>
                </button>
                <% if (typeof post.id !== "undefined" && post.id) { %>
                    <a href="/post/del/<%= post.id %>">
                        <button type="button" class="btn btn-warning">Post törlése</button>
                    </a>
                <% } %>
            </form>
        </div>
    </div>
</div>


<%- include('footer') -%>