<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <title>bmeddit</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
</head>
<body class="bg-dark">
<nav class="navbar navbar-expand-lg navbar-dark bg-danger">
    <a class="navbar-brand" href="/">bmeddit</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav mr-auto"></div>
        <div class="navbar-nav">
            <% if(typeof user !== "undefined" && user) { %>
                <li class="nav-item dropleft">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <%= user.username %>
                    </a>
                    <div class="dropdown-menu bg-dark" style="width: auto; min-width: auto" aria-labelledby="navbarDropdown">
                        <a class="nav-link" href="/logout" style="padding: 1em; width: auto">Kijelentkezés</a>
                    </div>
                </li>
            <% } else { %>
                <a class="nav-link" href="/login">Bejelentkezés</a>
            <% } %>
        </div>
    </div>
</nav>