<%- include('header') -%>

<div class="container-fluid" id="content">
    <% posts.forEach((post) => { %>
        <%- include('post', post); %>
    <%})%>
    <br>
    <small class="credits"><i style="font-family: sans-serif">made️ by Mike</i></small>
    <br>
</div>

<div class="fab">
    <a href="/post/new">
        <div class="bg-danger icon">
            <img style="height: 1.5em" src="/pencil.svg" alt="new post"/>
        </div>
    </a>
</div>

<%- include('footer') -%>