<%- include('header') -%>

<%
    if (typeof username === "undefined") username = "";
    if (typeof email === "undefined") email = "";
%>

<body class="bg-dark">
<style>
    .top {
        padding: 1em;
    }
</style>
<div class="container top">
    <div class="card bg-secondary text-white">
        <h5 class="card-header">
            <div class="container d-flex justify-content-center">
                <div class="bg-danger icon">
                    <img src="/lock.svg" alt="log in"/>
                </div>
            </div>
        </h5>
        <div class="card-body">
            <% if (typeof error !== "undefined" && error) { %>
                <div class="alert alert-danger" role="alert">
                    <%= error %>
                </div>
            <% } %>

            <% if(typeof user === "undefined" || !user) { %>
                <form method="post">
                    <% if (typeof register !== "undefined" && register) { %>
                        <div class="form-group text-white">
                            <label for="username">Felhasználónév</label>
                            <input name="username" value="<%= username %>" class="form-control bg-dark text-white" id="username" placeholder="fancyuser">
                        </div>
                    <% } %>
                    <div class="form-group text-white">
                        <label for="email">Email cím</label>
                        <input type="email" name="email" value="<%= email %>" class="form-control bg-dark text-white" id="email" placeholder="name@example.com">
                    </div>
                    <div class="form-group text-white">
                        <label for="pw">Jelszó</label>
                        <input type="password" name="password" class="form-control bg-dark text-white" id="pw" placeholder="*******">
                    </div>
                    <button type="submit" class="btn btn-danger">
                        <% if (typeof register !== "undefined" && register) { %>
                            Regisztráció
                        <% } else { %>
                            Bejelentkezés
                        <% } %>
                    </button>

                    <% if (typeof register !== "undefined" && register) { %>
                        <a href="/login" style="display: inline">
                            <button type="button" class="btn btn-dark">Már van fiókom, bejelentkezek</button>
                        </a>
                    <% } else { %>
                        <a href="/register" style="display: inline">
                            <button type="button" class="btn btn-dark">Még nincs fiókom, csináljunk egyet!</button>
                        </a>
                    <% } %>

                </form>

            <% } else { %>
                <div class="alert alert-danger" role="alert">
                    Hiba: már be vagy jelentkezve
                </div>
            <% } %>
        </div>
    </div>
</div>
<%- include('footer') -%>