<div class="container-fluid">
    <div class="card bg-secondary text-white">
        <% if (typeof image !== "undefined") { %>
            <img src="/<%= image %>" class="card-img-top" alt="post image">
        <% } %>
        <div class="card-body">
            <h5 class="card-title">
                <%= title %>
                <% if (typeof canedit !== "undefined" && canedit) {%>
                    <a href="/post/edit/<%= id %>">
                        <img style="height: .7em" src="/pencil.svg" alt="edit">
                    </a>
                <% } %>
            </h5>
            <p class="card-text"><%= text %></p>
        </div>
    </div>
</div>